/* Write your CSS here */
.list-container {
  list-style-type: none;
}

.main-title {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}

.btn-container {
  display: flex;
  justify-content: space-between;
}

.button {
  height: 40px;
  width: 90px;
  padding-left: 10px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: #ff0b37;
  color: #ff0b37;
  margin-left: 20px;
  background-color: transparent;
}
